header {
    display: flex;
    justify-content: space-between;
    background-color: #4F518C;
    border-bottom: 10px solid #2C2A4A;
    padding: 10px 20px;
    align-items: center;
}

header h1 {
    font-family: 'Press Start 2P';
    color: white;
    text-shadow: 5px 5px 0 black;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Fira Code', sans-serif;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #02A676;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

span {
    background-color: #02A676;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #02A676;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    border: 1px solid black;
    margin-right: 0;
    transition: transform 100ms linear;
}

#button:hover {
    background-color: #007369;
    transform: scale(1.08);
}

section {
    height: 797px;
    background-image: url(../assets/photo2.svg), url(../assets/photo.svg);
    background-size: contain, cover;
    background-repeat: no-repeat;
}

#title {
    display: inline-block;
    background-color: #3A4042;
    margin-top: 116px;
    margin-left: 91px;
    box-shadow: 5px 5px 0 black;
}

#title h1 {
    font-family: 'Press Start 2P';
    font-size: 40px;
    color: #02A676;
    text-shadow: 4px 4px 0 black;
    padding: 42px 97px 0 99px;
}

#title h2{
    font-family: 'Press Start 2P';
    font-size: 30px;
    color: white;
    text-shadow: 4px 4px 0 black;
    padding: 28px 47px 44px 40px;
}

div {
    margin-left: 181px;
    margin-top: 38px;
}

.buttons {
    display: inline-block;
    background-color: #02A676;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 black;
    border: 1px solid black;
    margin-right: 112px;
}

.buttons:hover {
    background-color: #007369;
    transform: scale(1.08);
}