.card-projects {
    background-color: black;
    text-align: center;
}

.card-projects .main-title {
    padding-top: 50px;
    margin-bottom: 50px;
}

.card-projects .projects {
    width: 280px;
    height: 280px;
}

.card-projects .wrapper-projects {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}