.main-section {
    background-color: #02A676;
    border-bottom: 10px solid #2C2A4A;
    padding-top: 50px;
    padding-bottom: 100px;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section._project {
    background-color: black;
    border-color: #02A676 ;
}