.main-footer {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-footer .socials {
    margin-right: 20px;
    margin-left: 20px;
}

.main-footer .socials img {
    width: 45px;
    height: 45px;
}

.main-footer .socials .github {
    background-color: white;
    border-radius: 8px;
}