.skill-tec {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P';
    color: white;
    font-size: 25px;
}

.skill-tec .icon {
    margin-right: 25px;
    width: 90px;
}

.skill-tec .title {
    margin-bottom: 12px;;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}